<head>
	<!-- If not the homepage, prepend the page name before the site name -->
	<title>{{ if not .IsHome }}{{ .Title | title }} - {{ end }}{{ site.Title }}</title>

	{{- with site.Params.favicon -}}
		<link rel="icon" href="{{ . }}">
	{{- end -}}

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{- if eq .Kind "page" -}}
		<meta name="description" content="{{ .Summary }}">
		<meta name="author" content="{{ .Params.Author | default site.Author.name }}">
	{{- else -}}
		<meta name="description" content="{{ site.Params.description }}">
		<meta name="author" content="{{ site.Author.name }}">
	{{- end -}}
	{{- if isset .Params "tags" -}}
		<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . "," }}{{ end }}">
	{{- end -}}

	{{- if .Param "math" -}}
		{{ partialCached "math.html" . }}
	{{- end -}}

	<!-- Style -->
	<link href="{{ absURL `styles/normal.css` }}" rel="stylesheet">
	<style>
	:root {
		--font-sans: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}
	</style>

	<!-- Scripts -->
	<script src="https://unpkg.com/@master/style@1.5.0"></script>
	<script src="https://unpkg.com/@master/styles@1.13.0"></script>
	<script src="https://unpkg.com/master-styles-group"></script>
	<script src="https://unpkg.com/themes.js"></script>
	<script>window.themes = window.themes || new window.Themes()</script>
</head>
