:root{
	color-scheme: light dark; /* enable light-dark() function */
}

body{
	color: light-dark(#333B3C, #D7D8DF);
	background-color: light-dark(#EFEDEA, #1d1f25);
	
	font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	
	
	line-height:1.2;
	/*-webkit-tap-highlight-color:transparent;*/
	text-size-adjust:100%;
	/*-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	-moz-tab-size:4;*/
	tab-size:4
}

@media (max-width: 768px) {
	#mydiv { flex-direction: column; }
}

b,strong{font-weight:bolder}

*,:before,:after{
	box-sizing:border-box
}

.odin{
	color: rgb(166, 171, 184) !important;
	transition: 150ms ease-in;
}

a:hover{
color:#F4F4F6 !important;
}

.p{
	margin-bottom: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

*{
  text-rendering:geometricPrecision;
  border:0 solid
}

body,blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,button,optgroup,select,textarea,pre{
  margin:0
}

pre {font-family: inherit;}

main, /*nav, header, footer*/ {
	/*max-width:60em;*/
	/*margin:0 auto;*/
}

footer{
padding-top:1.5rem;padding-bottom:1.5rem;
}

footer div{
margin-top:0.5rem;
font-size:0.75rem;
color: light-dark(#4C515F, #4C515F);
}

td,legend,textarea,input,fieldset{
  padding:0
}

img,svg,video,canvas,audio,iframe,embed,object{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

ul,ol{
  margin:0;
  padding:0
}

ul{
  list-style:none
}

hr{
  height:0;
  color:inherit
}

small{
  font-size:80%
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  color:inherit;
  background-color:transparent
}

sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sub{
  bottom:-.25em
}

sup{
  top:-.5em
}

a{
  color:inherit;
  text-decoration:none
}

p a{
text-decoration:underline
}

abbr[title]{
  text-decoration:underline dotted
}

table{
  text-indent:0;
  border-color:inherit
}

button,select{
  text-transform:none
}

a,[type=button]:not([disabled]),[role=button],button:not([disabled]){
  cursor:pointer
}

::-moz-focus-inner{
  border-style:none;
  padding:0
}

:-moz-ui-invalid{
  box-shadow:none
}

progress{
  vertical-align:baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button{
  height:auto
}

::-webkit-search-decoration{
  -webkit-appearance:none
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit
}

summary{
  display:list-item
}

.content-gallery {
  display:inline-block;
}
