/*
TODO:
- sidenotes
- Quotes (italic)
- lists
- text block: toggle ins and del, copy to clipboard with tabs, copy to clipboard with spaces?, toggle line wrap
- - automatic syntax coloring
- images: single, single with caption, multiple with single caption, multiple with a caption for each

*/

/* --- GENERAL --- */

@charset "UTF-8";

* {
	text-rendering: geometricPrecision;
	border: 0 solid;
	margin: 0;
	padding: 0;
}

*,:before,:after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark; /* enable light-dark() function */
}

/* --- PAGE SECTIONS --- */

body {
	font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	
	line-height: 1.5;
	/*-webkit-tap-highlight-color:transparent;*/
	text-size-adjust: 100%;
	/*-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	-moz-tab-size:4;*/
	tab-size: 4;
	margin: 0 auto;
	
	max-width: 43.75rem;
	word-break: break-word;
}

nav { z-index: 1000; }
nav h1 { margin: 0.97rem 0 0.67rem; }

#home_button { text-decoration: none; color: inherit; }

@media (max-width: 768px) {
	main { flex-direction: column; }
}

article {
	text-align: justify;
	hyphens: auto; /* Automatically insert - when wrapping across lines */
}

header, footer {
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

header {
	font-size: 0.95rem;
}

footer {
	font-size: 0.75rem;
}

p, dl, ol, ul {
	padding-top: 0.2rem;
	padding-bottom: 0.6rem;
	font-size: 1.0rem;
	line-height: 1.5rem;
}

p code, li code {
    line-height: 1;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1px 3px;
    color: #333;
    background-color: #f7f7f7;
    font-size: 0.85em;
}

pre {
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #333;
    background-color: #f7f7f7;
    position: relative;
}

pre, code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    line-height: 1.3;
    tab-size: 4;
    word-break: normal;
    word-spacing: normal;
    text-align: left;
    word-wrap: normal;
    overflow-wrap: normal;
    overflow: auto;
    direction: ltr;
    position: relative;
}

code ins, code del { text-decoration: none; }
code ins { background-color: #dfd; }
code del { background-color: #fdd; }

ul,ol { margin: 0; padding: 0 }
ul { list-style: none }
hr { height: 0; color: inherit }

td,legend,textarea,input,fieldset{
	padding:0
}

figcaption {
  text-align:center;
  font-size:0.9rem;
}
=======
} 
>>>>>>> d699fff19e147caa84116199678ce29b87b21a7b

/* --- FONTS --- */

pre { font-family: inherit; }
b,strong { font-weight: bolder; }
sub { bottom:-.25em; }
sup { top:-.5em; }

small { font-size: 80%; }

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

/* --- COLORS AND DECORATIONS --- */

body {
	color: light-dark(#333B3C, #D7D8DF);
	background-color: light-dark(#EFEDEA, #1d1f25);
}

header, footer {
	color: light-dark(#4C515F, #4C515F);
}

abbr[title] { text-decoration: underline dotted; }

a {
	color: #B09264;
	text-decoration: none;
}
a:visited {
	color: #705224;
}
a:hover {
	transition: 150ms ease-in;
	color: #4B799B;
	text-decoration: underline;
}
a,[type=button]:not([disabled]),[role=button],button:not([disabled]) {
	cursor: pointer;
}

/* --- UTILITY CLASSES --- */

.block {display: block}
.inline {display: inline}

.details {
	font-size: 0.875rem;
	color: rgb(76, 81, 95);
}

.border { border: 1px solid black; }

/* --- EMBEDS --- */

img,svg,video,canvas,audio,iframe,embed,object{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  color:inherit;
  background-color:transparent
}

/* --- OTHER --- */

table{
  text-indent:0;
  border-color:inherit
}

button,select{
  text-transform:none
}

::-moz-focus-inner{
  border-style:none;
  padding:0
}

:-moz-ui-invalid{
  box-shadow:none
}

progress{
  vertical-align:baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button{
  height:auto
}

::-webkit-search-decoration{
  -webkit-appearance:none
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit
}

summary{
  display:list-item
}

.content-gallery {
  display:inline-block;
}
