/* --- GENERAL --- */

@charset "UTF-8";

* {
	text-rendering: geometricPrecision;
	border: 0 solid;
	margin: 0;
	padding: 0;
}

*,:before,:after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark; /* enable light-dark() function */
}

/* --- PAGE SECTIONS --- */

body {
	color: light-dark(#333B3C, #D7D8DF);
	background-color: light-dark(#EFEDEA, #1d1f25);
	
	font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	
	
	line-height: 1.5;
	/*-webkit-tap-highlight-color:transparent;*/
	text-size-adjust: 100%;
	/*-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	-moz-tab-size:4;*/
	tab-size: 4;
	margin: 0 auto;
	
	max-width: 43.75rem;
	word-break: break-word;
}

nav {
	z-index: 1000;
}

nav h1 {
	margin: 0.97rem 0 0.67rem;
}

#home_button {
	text-decoration: none;
}

article {
	text-align: justify;
	hyphens: auto; /* Automatically insert - when wrapping across lines */
}

header, footer {
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
}

h2 {
	margin-top: 1em;
	margin-bottom: 1em;
}


@media (max-width: 768px) {
	.contents { flex-direction: column; }
}

/*
.column {
	display:flex; flex-direction:column; /* container for a column of elements */
}
*/

header {
	margin-bottom: 0.5rem;
	font-size: 0.95rem;
	color: light-dark(#4C515F, #4C515F);
}

footer {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	color: light-dark(#4C515F, #4C515F);
}

article p {
	margin-bottom: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

main p, dl, ol, ul {
    font-size: 1.0rem;
    line-height: 1.5rem;
}

/* --- TEXT --- */

pre {font-family: inherit;}
b,strong { font-weight: bolder }
sub { bottom:-.25em }
sup { top:-.5em }
ul,ol { margin: 0; padding: 0 }
ul { list-style: none }
hr { height: 0; color: inherit }
small { font-size: 80% }
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

abbr[title] { text-decoration: underline dotted }

/* TODO: Rename to something like "link title" */
.odin {
	color: rgb(166, 171, 184) !important;
	transition: 150ms ease-in;
}

a {
	color: inherit;
	text-decoration: underline
}
a:hover {
	color: light-dark(#4C515F, #F4F4F6) !important; /* TODO: better lm color */
}
a,[type=button]:not([disabled]),[role=button],button:not([disabled]) {
	cursor: pointer
}

td,legend,textarea,input,fieldset{
	padding:0
}

/* --- UTILITY CLASSES --- */

.block {display: block}
.inline {display: inline}

/* --- EMBEDS --- */

img,svg,video,canvas,audio,iframe,embed,object{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  color:inherit;
  background-color:transparent
}

/* --- OTHER --- */

table{
  text-indent:0;
  border-color:inherit
}

button,select{
  text-transform:none
}

::-moz-focus-inner{
  border-style:none;
  padding:0
}

:-moz-ui-invalid{
  box-shadow:none
}

progress{
  vertical-align:baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button{
  height:auto
}

::-webkit-search-decoration{
  -webkit-appearance:none
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit
}

summary{
  display:list-item
}

.content-gallery {
  display:inline-block;
}
